/* CSS Reset */
*, *::before, *::after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
  font-size: 16px;
}

ol, ul {
	list-style: none;
}

button {
    cursor: pointer;
    color: inherit;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
}
/* CSS Reset */

:root {
  --dark: #0C2D48;
}

body {
  font-family: 'Open Sans', sans-serif;
  width: 1400px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 36px 0;
}

.logo {
  font-family: 'Nunito', sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--dark);
}

.search-form {
  border: 5px solid var(--dark);
  border-radius: 48px;
  display: flex;
  padding-right: 12px;
}

.search-bar {
  border-radius: 48px;
  padding: 8px 16px;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.search-bar:focus {
  outline: none;
}

.search-icon {
  fill: var(--dark);
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  margin-top: 100px;
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  color: var(--dark);
}

.location {
  font-size: 2rem;
  font-weight: 700;
  flex: 1;
}

.title-date {
  font-size: 3rem;
  font-weight: 400;
}

.weather-div {
  display: flex;
  gap: 64px;
  align-items: center;
  justify-content: center;
}

.forecasts {
  display: flex;
  gap: 64px;
  flex: 1;
}

.current-container,
.forecast-container {
  outline: 12px solid var(--dark);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 12px;
  color: var(--dark);
  text-align: center;
}

.current-container {
  width: 288px;
  height: 384px;
}

.forecast-container {
  width: 240px;
  height: 320px;
}

.current-title {
  font-size: 1.8rem;
  font-weight: 500;
}

.current-temperature {
  font-size: 3.6rem;
  font-weight: 600;
}

.current-icon svg {
  width: 140px;
  height: auto;
}

.current-condition {
  font-size: 1.2rem;
  font-weight: 500;
}

.date {
  font-size: 1.5rem;
  font-weight: 500;
}

.temperature {
  font-size: 3rem;
  font-weight: 600;
}

.condition {
  font-size: 1rem;
  font-weight: 500;
}